<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lucene.NET API Diff Report</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <h1>Lucene.NET API Diff Report</h1>
    {{#each Assemblies}}
        <h2>{{LuceneNetName}} {{LuceneNetVersion}} / lucene-{{LuceneName}} {{LuceneVersion}}</h2>

        <h3>Lucene Types Missing in Lucene.NET</h3>
        <table>
            <thead>
                <tr>
                    <th>Type Kind</th>
                    <th>Modifiers</th>
                    <th>Type Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each LuceneTypesNotInLuceneNet}}
                    <tr>
                        <td>{{TypeKind}}</td>
                        <td>{{ModifiersDisplay}}</td>
                        <td>{{TypeName}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <h3>Lucene.NET Types Not in Lucene</h3>
        <table>
            <thead>
            <tr>
                <th>Type Kind</th>
                <th>Modifiers</th>
                <th>Type Name</th>
            </tr>
            </thead>
            <tbody>
            {{#each LuceneNetTypesNotInLucene}}
                <tr>
                    <td>{{TypeKind}}</td>
                    <td>{{ModifiersDisplay}}</td>
                    <td>{{TypeName}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <h3>Type Mapping Overrides</h3>
        <table>
            <thead>
            <tr>
                <th>Java Type</th>
                <th>.NET Type</th>
            </tr>
            </thead>
            <tbody>
            {{#each LibraryConfig.TypeOverrides}}
                <tr>
                    <td colspan="2"><strong>Justification:</strong> {{Justification}}</td>
                </tr>
            {{#each JavaToDotNetTypes}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{Value}}</td>
                </tr>
            {{/each}}
            {{/each}}
            </tbody>
        </table>
    {{/each}}
    <script type="text/javascript" src="index.js" defer></script>
</body>
</html>
