<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lucene.NET API Diff Report</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <main>
        <h1>Lucene.NET API Diff Report</h1>
        <nav>
            <h2>Index</h2>
            <ul>
                {{#each Assemblies}}
                    <li><a href="#{{LuceneNetName}}">{{LuceneNetName}}</a></li>
                {{/each}}
            </ul>
        </nav>
        <section id="stats">
            <h2>Stats</h2>

            <table class="stats-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Lucene types not in Lucene.NET</th>
                    <td>{{TotalLuceneTypesNotInLuceneNet}}</td>
                </tr>
                <tr>
                    <th>Lucene.NET types not in Lucene</th>
                    <td>{{TotalLuceneNetTypesNotInLucene}}</td>
                </tr>
                <tr>
                    <th>Mismatched modifiers</th>
                    <td>{{TotalMismatchedModifiers}}</td>
                </tr>
                <tr>
                    <th>Mismatched base types</th>
                    <td>{{TotalMismatchedBaseTypes}}</td>
                </tr>
                </tbody>
            </table>
        </section>
        {{#each Assemblies}}
        <section id="{{LuceneNetName}}" class="assembly">
            <h2>{{LuceneNetName}} {{LuceneNetVersion}} / <a href="{{LuceneMavenUrl}}" target="_blank">lucene-{{LuceneName}} {{LuceneVersion}}</a></h2>

            <h3>
                Lucene Types Missing in Lucene.NET
                <span class="count">{{LuceneTypesNotInLuceneNet.Count}}</span>
            </h3>
            <table>
                <thead>
                    <tr>
                        <th>Modifiers</th>
                        <th>Type Kind</th>
                        <th>Type Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if LuceneTypesNotInLuceneNet.Count}}
                        {{#each LuceneTypesNotInLuceneNet}}
                            <tr>
                                <td>{{ModifiersDisplay}}</td>
                                <td>{{Type.TypeKind}}</td>
                                <td>{{Type.DisplayName}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No types missing</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Lucene.NET Types Not in Lucene
                <span class="count">{{LuceneNetTypesNotInLucene.Count}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Modifiers</th>
                    <th>Type Kind</th>
                    <th>Type Name</th>
                </tr>
                </thead>
                <tbody>
                    {{#if LuceneNetTypesNotInLucene.Count}}
                        {{#each LuceneNetTypesNotInLucene}}
                            <tr>
                                <td>{{ModifiersDisplay}}</td>
                                <td>{{Type.TypeKind}}</td>
                                <td>{{Type.DisplayName}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No types missing</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Mismatched Modifiers
                <span class="count">{{MismatchedModifiers.Count}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Java Modifiers</th>
                    <th>.NET Modifiers</th>
                </tr>
                </thead>
                <tbody>
                    {{#if MismatchedModifiers.Count}}
                        {{#each MismatchedModifiers}}
                            <tr>
                                <td>
                                    {{DotNetType.DisplayName}}
                                    <div class="subtext">{{JavaType.DisplayName}}</div>
                                </td>
                                <td>{{JavaModifiersDisplay}}</td>
                                <td>{{DotNetModifiersDisplay}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No mismatched modifiers</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Mismatched Base Types
                <span class="count">{{MismatchedBaseTypes.Count}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Java Type</th>
                    <th>.NET Type</th>
                </tr>
                </thead>
                <tbody>
                    {{#if MismatchedBaseTypes.Count}}
                        {{#each MismatchedBaseTypes}}
                            <tr>
                                <td>
                                    {{JavaType.TypeKind}} {{JavaType.DisplayName}}
                                    {{#if JavaBaseType}}
                                        <div>
                                            :&nbsp;{{JavaBaseType.DisplayName}}
                                        </div>
                                    {{/if}}
                                </td>
                                <td>
                                    {{DotNetType.TypeKind}} {{DotNetType.DisplayName}}
                                    {{#if DotNetBaseType}}
                                        <div>
                                        :&nbsp;{{DotNetBaseType.DisplayName}}
                                        </div>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="2">✅ No mismatched base types</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            {{#if LibraryConfig.TypeOverridesCount}}
            <details>
                <summary>Type Mapping Overrides ({{LibraryConfig.TypeOverridesCount}})</summary>

                <table>
                    <thead>
                    <tr>
                        <th>Java Type</th>
                        <th>.NET Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each LibraryConfig.TypeOverrides}}
                        <tr>
                            <td colspan="2"><strong>Justification:</strong> {{Justification}}</td>
                        </tr>
                    {{#each JavaToDotNetTypes}}
                        <tr>
                            <td>{{@key}}</td>
                            <td>{{Value}}</td>
                        </tr>
                    {{/each}}
                    {{/each}}
                    </tbody>
                </table>
            </details>
            {{/if}}
        </section>
        {{/each}}
    </main>
    <script type="text/javascript" src="index.js" defer></script>
</body>
</html>
