<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lucene.NET API Diff Report</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <main>
        <h1>Lucene.NET API Diff Report</h1>
        <nav>
            <h2>Index</h2>
            <ul>
                {{#each Assemblies}}
                    <li><a href="#{{LuceneNetName}}">{{LuceneNetName}}</a></li>
                {{/each}}
            </ul>
        </nav>
        <section id="stats">
            <h2>Stats</h2>

            <table class="stats-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Lucene types not in Lucene.NET</th>
                    <td>{{TotalLuceneTypesNotInLuceneNet}}</td>
                </tr>
                <tr>
                    <th>Lucene.NET types not in Lucene</th>
                    <td>{{TotalLuceneNetTypesNotInLucene}}</td>
                </tr>
                <tr>
                    <th>Mismatched modifiers</th>
                    <td>{{TotalMismatchedModifiers}}</td>
                </tr>
                <tr>
                    <th>Mismatched base types</th>
                    <td>{{TotalMismatchedBaseTypes}}</td>
                </tr>
                <tr>
                    <th>Mismatched interfaces</th>
                    <td>{{TotalMismatchedInterfaces}}</td>
                </tr>
                </tbody>
            </table>
        </section>
        {{#each Assemblies}}
        <section id="{{LuceneNetName}}" class="assembly">
            <h2>{{LuceneNetName}} {{LuceneNetVersion}} / <a href="{{LuceneMavenUrl}}" target="_blank">lucene-{{LuceneName}} {{LuceneVersion}}</a></h2>

            <h3>
                Lucene Types Missing in Lucene.NET
                <span class="count">{{LuceneTypesNotInLuceneNet.Count}}</span>
            </h3>
            <table>
                <thead>
                    <tr>
                        <th>Modifiers</th>
                        <th>Type Kind</th>
                        <th>Type Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if LuceneTypesNotInLuceneNet.Count}}
                        {{#each LuceneTypesNotInLuceneNet}}
                            <tr>
                                <td>{{Modifiers.ModifiersDisplay}}</td>
                                <td>{{Type.TypeKind}}</td>
                                <td>{{Type.DisplayName}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No types missing</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Lucene.NET Types Not in Lucene
                <span class="count">{{LuceneNetTypesNotInLucene.Count}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Modifiers</th>
                    <th>Type Kind</th>
                    <th>Type Name</th>
                </tr>
                </thead>
                <tbody>
                    {{#if LuceneNetTypesNotInLucene.Count}}
                        {{#each LuceneNetTypesNotInLucene}}
                            <tr>
                                <td>{{Modifiers.ModifiersDisplay}}</td>
                                <td>{{Type.TypeKind}}</td>
                                <td>{{Type.DisplayName}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No types missing</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Mismatched Modifiers
                <span class="count">{{TypesWithMismatchedModifiersCount}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Java Modifiers</th>
                    <th>.NET Modifiers</th>
                </tr>
                </thead>
                <tbody>
                    {{#if TypesWithMismatchedModifiersCount}}
                        {{#each TypesWithMismatchedModifiers}}
                            <tr>
                                <td>
                                    {{MatchingType.DotNet.Type.DisplayName}}
                                    <div class="subtext">{{MatchingType.Java.Type.DisplayName}}</div>
                                </td>
                                <td>{{MismatchedModifiers.Java.ModifiersDisplay}}</td>
                                <td>{{MismatchedModifiers.DotNet.ModifiersDisplay}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="3">✅ No mismatched modifiers</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Mismatched Base Types
                <span class="count">{{TypesWithMismatchedBaseTypesCount}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Java Type</th>
                    <th>.NET Type</th>
                </tr>
                </thead>
                <tbody>
                    {{#if TypesWithMismatchedBaseTypesCount}}
                        {{#each TypesWithMismatchedBaseTypes}}
                            <tr>
                                <td>
                                    {{MatchingType.Java.Type.TypeKind}} {{MatchingType.Java.Type.DisplayName}}
                                    {{#if MismatchedBaseType.Java}}
                                        <div>
                                            :&nbsp;{{MismatchedBaseType.Java.DisplayName}}
                                        </div>
                                    {{/if}}
                                </td>
                                <td>
                                    {{MatchingType.DotNet.Type.TypeKind}} {{MatchingType.DotNet.Type.DisplayName}}
                                    {{#if MismatchedBaseType.DotNet}}
                                        <div>
                                        :&nbsp;{{MismatchedBaseType.DotNet.DisplayName}}
                                        </div>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="2">✅ No mismatched base types</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>

            <h3>
                Mismatched Interfaces
                <span class="count">{{TypesWithMismatchedInterfacesCount}}</span>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Java Type</th>
                    <th>.NET Type</th>
                </tr>
                </thead>
                <tbody>
                    {{#if TypesWithMismatchedInterfacesCount}}
                        {{#each TypesWithMismatchedInterfaces}}
                            <tr>
                                <td>
                                    {{MatchingType.Java.Type.TypeKind}} {{MatchingType.Java.Type.DisplayName}}
                                    {{#if MismatchedInterfaces.Java.Count}}
                                        <ul>
                                        {{#each MismatchedInterfaces.Java}}
                                            <li>{{DisplayName}}</li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <div class="subtext">No interfaces</div>
                                    {{/if}}
                                </td>
                                <td>
                                    {{MatchingType.DotNet.Type.TypeKind}} {{MatchingType.DotNet.Type.DisplayName}}
                                    {{#if MismatchedInterfaces.DotNet.Count}}
                                        <ul>
                                        {{#each MismatchedInterfaces.DotNet}}
                                            <li>{{DisplayName}}</li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <div class="subtext">No interfaces</div>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="2">✅ No mismatched interfaces</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        </section>
        {{/each}}
    </main>
    <script type="text/javascript" src="index.js" defer></script>
</body>
</html>
